from pathlib import Path

BASE_PATH = Path('/data/imaging/harwell_open_week/')
CACHED_DIR = Path('/var/tmp/tomo_file_cache')
MAX_SIZE = 1000

datasets = []
datasets.append({
    'projections': {
        'directory': BASE_PATH / 'Pikachu/Projections/Trabs',
        'name_pattern': 'Pikachu_Trabs_idx_{:04d}.tiff',
        'start': 0,
        'stop': 101,
    },
    'reconstruction': {
        'directory': BASE_PATH / 'Pikachu/Recon/Reduced/Angled',
        'name_pattern': 'Pikachu_Angled_Recon_idx_{:04d}.tiff',
        'start': 0,
        'stop': 100,
    }
})
datasets.append({
    'projections': {
        'directory': BASE_PATH / 'Char/Projections/Trabs',
        'name_pattern': 'Char_Trabs_idx_{:04d}.tiff',
        'start': 0,
        'stop': 98,
    },
    'reconstruction': {
        'directory': BASE_PATH / 'Char/Recon/Reduced/Not_Angled',
        'name_pattern': 'Char_Recon_idx_{:04d}.tiff',
        'start': 0,
        'stop': 100,
    }
})
datasets.append({
    'projections': {
        'directory': BASE_PATH / 'Horsea/Projections/Trabs',
        'name_pattern': 'Horsea_Trabs_idx_{:04d}.tiff',
        'start': 0,
        'stop': 98,
    },
    'reconstruction': {
        'directory': BASE_PATH / 'Horsea/Recon/Reduced/Angled',
        'name_pattern': 'Horsea_Angled_Recon_idx_{:04d}.tiff',
        'start': 0,
        'stop': 100,
    }
})
